# Picked from: https://github.com/jessfraz/dotfiles/blob/master/.aliases
# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Shortcuts
alias dl="cd ~/Downloads"
alias g="git"
alias gg="git grep"
alias h="history"
alias q="nautilus . &"
# Always enable colored `grep` output
alias grep="grep --color=auto "

alias мшь=vim

alias cat="bat"

alias bb="bazel build"
alias br="bazel run"
alias bt="bazel test"
alias blaze="bazel"
