# Concatenate images with ImageMagick. 
function horizontalimagecat() {
  convert +append $1 $2 $3
}
function verticalimagecat() {
  convert -append $1 $2 $3
}

# Combine two videos into one. This should preserve audio tracks.
function horizontalcat {
  ffmpeg -i $1 -i $2 -filter_complex hstack -q:v 1 $3
}
function verticalcat {
  ffmpeg -i $1 -i $2 -filter_complex vstack -q:v 1 $3
}

# Extract a subset of the video.
# USAGE: extract_video_sequence input_filename.mp4 output_filename.mp4 start duration
function extract_video_sequence {
  ffmpeg -ss $3 -i $1 -t $4 -vcodec copy -acodec copy $2
}
#
function nvidia_query {
  nvidia-smi --query-gpu=temperature.gpu,clocks.current.sm,power.draw,utilization.gpu,utilization.memory,memory.free --format=csv | column -t -s ,
}

function ggp {
  git grep "$1" -- "*.proto"
}
function ggh {
  git grep "$1" -- "*.h"
}

gghe(){
  vim $(ggh -irl "$1" *)
}

# Picked from: https://github.com/jessfraz/dotfiles/blob/master/.functions
# Create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}

# Make a temporary directory and enter it
tmpd() {
	local dir
	if [ $# -eq 0 ]; then
		dir=$(mktemp -d)
	else
		dir=$(mktemp -d -t "${1}.XXXXXXXXXX")
	fi
	cd "$dir" || exit
}

function gitrecent {
  git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
}

function gr {
  gitrecent
}
