[user]
	email = karasev00@gmail.com
	name = vasiliy
[core]
	editor = vim
[clangFormat]
	binary = clang-format-3.6
[color]
  ui = auto
[alias]
  s = status -s
  st = status
  co = checkout
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  branches = branch -a
